/* ================= nav ================= */
body{
  background:white;
  position: relative;
}

body::after {
  content: "";
  background: url('./smash.jpg');
  background-size: 100% auto;
  background-repeat: repeat;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}


#main{
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  /* padding: .8% 8%; */
  z-index: 2;
  background-color: rgb(255, 255, 255, .95) !important;
  box-shadow:  5px 5px 5px 5px rgba(0,0,0,0.5);

}

.home{
  margin: 10px 0 3px;
}
.header{
  position: relative;
  float: left;
  font-family: 'Anton', sans-serif;
  font-size: 200%;
  color: black;
}
.qr{
  position: relative;
  float: left;
  width: 55px;
  height: 55px;
}

.userStatus{
  position: relative;
  float: right;
  text-align: right;
  margin-top: 10px;
}
#userImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* row two */
#savePgBtn, #homePgBtn, #scrapeBtn, #clearBtn {
  position: relative;
  float: right;
  right: 0px;
  margin-top: 5px;
  margin-left: 450px;
  margin-left: 30px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

#savePgBtn, #clearBtn {
  margin-left: 10px;

}

.input, .select{
  position: relative;
  float: left;
  border-radius: 25px 0 0 25px;
}

/* ================= pop-up search window ================= */
.searchStyle{
  position: fixed;
  float: left;
  width: 50%;
  height: auto;
  top: 10%;
  left: 20%;
  padding: 5%;
  text-align: center;
  border: solid 1px;
  border-radius: 10px;
  color: black;
  background: white;
  z-index: 10;
}

/* ================= game list body ================= */

.container {
  /* background-image: url('./smash.jpg'); */
  /* background-color: rgba(255, 255, 255); */
  padding: 1% 0;
  height: auto;
  margin-top: 70px !important;
}

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3);
}
.transition:hover {
  padding: 1%;
}

#gameCard {
  position: relative;
  float: left;
  padding: 20px;
  margin-top: 30px !important;
  width: 320px;
  height: 240px;
  font-family: 'Anton', sans-serif;
  /* background-image: url('./true.jpg'); */
  color: rgb(230, 230, 230);
  background-color: #000000;
  background-size: 100% auto;
  box-shadow: 1px 10px 10px rgba(19, 19, 19, 0.9);
  opacity: .95;
  border-radius: 2px;
}

.thumb {
  position: absolute;
  width:auto;
  height: 63%;
  bottom: 20px;
  border-radius: 10px;
}

.cardBtn{
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 5%;
  padding: 0 5% 0;
  font-family: 'Anton', sans-serif;
  color: black;
  border-radius: 10px 10px 10px 0px;
  box-shadow:  0px 0px 5px 0px rgba(3, 0, 41, 0.694);
}

.saveBtn, .unSaveBtn{
  position: absolute;
  text-align: center;
  bottom: 8%;
  right: 5%;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 50%;
}

footer {
  text-align: center;
  padding-bottom: 15px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255, .9)
}



/* ================= card page ================= */

#card-img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.apiImg, .apiDes {
  position: relative;
  float: left;
  margin: 20px;
  background: rgb(255, 255, 255, .9);
}

.comForm {
  background-color: rgba(250, 230, 193, 0.3) !important;
}

.comList, .comSend {
  background: rgb(255, 255, 255, .9);
  margin: 0 5%;
}


/* user page */
.auth{
  padding: 0% !important;
}

.signUp, .signIn{
  text-align: center;
  padding: 10% 20%;
}

.signUp{
  border-right: 1px solid;
}

.form-group{
  text-align: left;
}
